<div class="container cv-container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">

        <app-section title="Sommaire" [icon]="summaryIcon">
             je suis Technicien supérieur en technologie Informatique & Technicien supérieur en biologie Analytique et Expérimentale  <br>
        </app-section>

        <app-section title="Experience" [icon]="workExperienceIcon">
            <app-life-period dateText="2019/2023 - Present" place="école prive a Touzeur" position="Educatrice primaire">
                <ul>
                    
                </ul>
            </app-life-period>
            <app-life-period dateText="2016/2018" place="agence immobilaire Touzeur" position="Secretaire">
                <ul>
                     </ul>
            </app-life-period>
            <app-life-period dateText="01/2015 - 04/2016" place="INS Tozeur" position="Agent de terrain">
                <ul>
                    
                </ul>
            </app-life-period>
            <app-life-period dateText="2022 - 2023" place="ISET Touzeur" position="Python/Full Stack Developer">
                <ul>
                    
                </ul>
            </app-life-period>
            
        </app-section>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <app-section title="Compétances" [icon]="skillsIcon">
            <strong></strong>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Angular/Typescript/Javascript</li>
                <li>Tensorflow & Keras</li>
                <li>Apache Kafka</li>
                <li>SQL (Oracle/MySQL/MS SQL Server/PostgreSQL)</li>
                <li>AWS (certified)</li>
            </ul><br>
            <strong></strong>
            <div>
                <span>
                   
                </span>
            </div> <br>
            
        </app-section>
        <app-section title="Education" [icon]="educationIcon">
        
        <app-life-period dateText="09/2013 - 06/2015" 
            place="Gabes" 
            position="licence appliqué en biologie Analytique et Expérimentale ">
            <ul>
                
            </ul>
        </app-life-period>
            <app-life-period dateText="06/2020" 
                place="iset touzeur" 
                position="licence en technologie Informatique">
                <div class="row">
                    
                </div>

            </app-life-period>
            <app-life-period dateText="09/2022 - 09/2024" 
                place="iset touzeur" 
                position="Master DevOps">
                

                </app-life-period>
        </app-section>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <app-section title="Mes Projects" [icon]="sideProjectIcon">
           Mes projets<a href="https://github.com/sawsen001/sawsen001.github.io">my GitHub</a> 
            <ul>
                   </ul>
        </app-section>
        

    </div>
</div>
</div>